<div class='col-md-6'>
<label>Nome</label>
<input class="form-control" [(ngModel)]='aluno.nome'>
<label>Idade</label>
<input class="form-control" [(ngModel)]='aluno.idade'>
<br>
<button [ngClass]="{
    'btn':True == True, 
    'btn-success':texto === 'Salvar', 
    'btn-warning':texto !== 'Salvar'
    }" (click)=salvar()>{{texto}}</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
    </thead>
    <tbody *ngFor="let aluno of lista">
        <tr>
            <td>{{aluno.nome}}</td> 
            <td>{{aluno.idade}}</td> 
        </tr>
    </tbody>
</table>
